@font-face {
  font-family: 'sciencegothic';
  src: url('../fonts/sciencegothic.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --color-light: #efefef;
  --color-dark: #252525;
  --color-mid: #e4e4e4;
  --font-primary: 'sciencegothic', system-ui, helvetica, sans-serif;
  --size-base: 1.25rem;
  --size-mid: 1.6rem;
  --size-large: 2rem;
  --size-x-large: 2.45rem;
}

body {
  font-family: Georgia, serif;
  font-size: 1.3rem;
  line-height: 1.5;
  background: var(--color-light);
  color: var(--color-dark);
}

a {
  color: currentColor;
}

.page-wrap {
  display: grid;
  min-height: 100vh;
  grid-template-rows: min-content 1fr min-content;
}

header[role='banner'] {
  background: var(--color-mid);
  padding: 1.5rem;
  border-bottom: 1px dotted;
  margin-bottom: 1.5rem;
  text-align: center;
}

header[role='banner'] a {
  text-decoration: none;
  font-size: 1.3rem;
}

h1,
h2,
header[role='banner'] {
  font-family: var(--font-primary);
  font-weight: normal;
  line-height: 1.1;
}

h1 {
  font-size: var(--size-x-large);
}

h2 {
  font-size: var(--size-large);
}

main {
  padding: 1rem;
  max-width: 80ch;
  margin: 0 auto;
}

footer {
  min-height: 200px;
  background: var(--color-mid) url(../img/shoes.png) bottom center no-repeat;
  background-image: ;
  background-size: 200px;
  border-top: 1px dotted;
}

p {
  max-width: 60ch;
}

:focus {
  outline: 1px dotted;
  outline-offset: 0.5rem;
}
