:root {
  --color-light: white;
  --color-dark: #252525;
  --color-mid: #e4e4e4;
  --font-primary: clarendon-text-pro, serif;
  --size-base: 1.25rem;
  --size-mid: 1.6rem;
  --size-large: 2rem;
  --size-x-large: 2.45rem;
  --radius: 0.25rem;
  --flow-space: var(--size-large);
}

body {
  font-family: var(--font-primary);
  font-size: 1.3rem;
  line-height: 1.6;
  background: var(--color-light);
  color: var(--color-dark);
}

a {
  color: currentColor;
}

header[role='banner'] {
  margin-bottom: 1.5rem;
  text-align: center;
  padding: 2rem;
  border-bottom: 1px solid var(--color-mid);
}

header[role='banner'] a {
  text-decoration: none;
  font-size: 1.3rem;
  display: block;
  line-height: 1;
  font-size: clamp(1.3rem, 7vw, 4.2rem);
  text-transform: uppercase;
}
header[role='banner'] a span {
  display: block;
}

h1,
h2,
header[role='banner'] {
  font-family: futura-pt-bold, sans-serif;
  font-weight: normal;
  line-height: 1.1;
}

h1 {
  font-size: var(--size-x-large);
}

h2 {
  font-size: var(--size-large);
}

main {
  padding: 1rem;
}
article {
  max-width: 60ch;
  margin: 0 auto 2rem;
}

footer[role='contentinfo'] {
  min-height: 200px;
  background: var(--color-dark) url(../img/shoes.png) bottom center no-repeat;
  color: var(--color-light);
  background-size: 280px;
  border-top: 1px dotted;
  margin-top: var(--size-large);
}

hr {
  margin: 4rem 0;
}

p {
  max-width: 60ch;
}

:focus {
  outline: 1px dotted;
  outline-offset: 0.5rem;
}

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: auto;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

/* Adds space to siblings like magic */
.flow > * + * {
  margin-top: var(--flow-space, 1em);
}

/* Memories feed */
.memories {
  margin-top: var(--size-mid);
}

.memories__list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
  grid-gap: var(--size-mid);
}

.memories__item {
  display: grid;
  align-content: center;
  height: 100%;
  padding: var(--size-mid);
  background: var(--color-mid);
  text-decoration: none;
  border-radius: var(--radius);
  font-size: var(--size-mid);
  border: 2px solid transparent;
}
.memories__item:hover,
.memories__item:focus {
  border: 2px solid;
}

/* Memory page */
.memory__header {
  display: flex;
  align-items: center;
}

.memory__header img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-inline-end: var(--size-mid);
  border-radius: var(--radius);
}

.memory__content {
  margin: var(--size-large) 0;
}

.memory__gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
  grid-gap: var(--size-mid);
}

.memory__gallery img {
  max-height: 300px;
  min-width: 100%;
  object-fit: cover;
}

/* Pagination component */
.pagination {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.pagination > [data-direction='forwards'] {
  margin-inline-start: auto;
}
