<!doctype html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ renderData.title or title or metadata.title }}</title>
    <meta name="description" content="{{ renderData.description or description or metadata.description }}">
    <link rel="stylesheet" href="https://use.typekit.net/soz0utp.css">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/style.css">
  </head>

  <body>
    <div class="page-wrap">
      <header role="banner">
        <a href="{{ '/' | url }}">
          <span>Thank You</span>
          Christopher Schmitt
        </a>
      </header>
      <main{% if templateClass %} class="{{ templateClass }}"{% endif %}>
        {% block content %}
        {% endblock %}
      </main>
      <footer role="contentinfo">
        <div>
          <a href="https://github.com/thankyouchristoperschmitt/memories_site">Built</a> by his friends.
        </div>
        <div>
          <a href="https://christopher-schmitt-memory.netlify.app/">Submit Memory</a>
        </div>
      </footer>
    </div>
  </body>

</html>
