<!doctype html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ renderData.title or title or metadata.title }}</title>
    <meta name="description" content="{{ renderData.description or description or metadata.description }}">
    <link rel="stylesheet" href="/css/style.css">
  </head>

  <body>
    <div class="page-wrap">
      <header>
        <a href="{{ '/' | url }}">{{ metadata.title }}</a>
      </header>
      <main{% if templateClass %} class="{{ templateClass }}"{% endif %}>
        {% block content %}
        {% endblock %}
      </main>
      <footer>
      </footer>
    </div>
  </body>

</html>
