{% extends "layouts/base.njk" %}

{% block content %}
  <article class="memory">
    <div class="memory__header">
      {% if avatar %}
        <!-- TODO put a Cloudinary fetch URL here to resize and optimize the image, or some other service. -->
        <img src="{{ avatar }}" alt="{{ title }} profile shot" />
      {% endif %}
      <h1>{{ title }}</h1>
    </div>
    <div class="memory__content flow">
      {{ content | safe }}
    </div>
    {% if images %}
      <div>
        <p class="visually-hidden" id="gallery-desc">More images by {{ title }}</p>
        <ul aria-describedby="gallery-desc" class="memory__gallery">
          {% for item in images %}
            <li>
              <img src="{{ item.source }}" alt="{{ item.alt }}" />
            </li>
          {% endfor %}
        </ul>
      </div>
    {% endif %}
    <hr />
    <footer class="memory__foot">
      {% if pagination.href.previous %}<a href="{{ pagination.href.previous }}">Previous</a>{% endif %}

      <a href="/">&larr; More memories</a>

      {% if pagination.href.next %}<a href="{{ pagination.href.next }}">Next</a>{% endif %}
    </footer> 
  </article>
{% endblock %}
